[SourceConfiguration]
SourceApiToken=api-1234567890abcdef
SourceProjectKey=support-service
# SourceIsFederal=false

[TargetConfiguration]
TargetApiToken=api-1234567890abcdef
# TargetProjectKey=fun-little-project
# TargetIsFederal=false
# TargetViews=view1,view2

[Options]
MigrateFlagTemplates=true
MigrateContextKinds=true
MigratePayloadFilters=true
MigrateSegments=true
MigrateMetrics=true
# IgnorePauses=false
# FlagsToIgnore=flag1,flag2,flag3
# FlagsToMigrate=flag1,flag2,flag3
# MigrationMode=MigrateOnly|MigrateRetry|Merge

