[SourceConfiguration]
SourceApiToken=api-1234567890abcdef
SourceProjectKey=support-service

[TargetConfiguration]
TargetApiToken=api-1234567890abcdef
TargetProjectKey=fun-little-project # Optional

[Options]
MigrateFlagTemplates=true
MigratePayloadFilters=true
MigrateMetrics=true
FlagsToIgnore=flag1,flag2,flag3
